<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ComputerCraft CI Server</title>
        <link rel="stylesheet" href="main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    </head>
    <body>
        <header>
            <div class="pull-left button-group">
                <a href="/">
                    <h1>ComputerCraft CI</h1>
                </a>
            </div>

            <div class="pull-right button-group hide-tiny">
                <a href="https://minecraft.curseforge.com/projects/computercraft" title="View on Curse">
                    <span>
                        <span class="fa fa-fire" aria-hidden="true"></span>
                        Curse
                    </span>
                </a>
                <a href="https://github.com/dan200/ComputerCraft" title="View on GitHub">
                    <span>
                        <span class="fa fa-github" aria-hidden="true"></span>
                        GitHub
                    </span>
                </a>
            </div>
        </header>

        <div id="content">
            <div class="jumbotron">
                <div class="primary-downloads">
                    {{#recommended}}
                        <div class="download">
                            <h3>
                                <a href="{{html-url}}{{root_folder}}{{file}}">
                                    <span class="fa fa-download" aria-hidden="true"></span>
                                    <span class="aria-hint">Download</span>
                                    {{desc}}
                                    <span class="version-major">{{main_version}}</span><span class="version-build">build{{version}}</span>
                                    {{extra_desc}}
                                </a>
                            </h3>
                        </div>
                    {{/recommended}}
                </div>
                <p>
                    These downloads are built from the latest version of the <a href="https://github.com/dan200/ComputerCraft">ComputerCraft
                    source code</a>. Please note they are experimental, so you should <strong>always</strong> back up your world before using
                    them.
                </p>
                <p>
                    Whilst they are built from ComputerCraft's source, these are not "official" builds of ComputerCraft. For that, you should
                    see <a href="https://minecraft.curseforge.com/projects/computercraft">ComputerCraft's CurseForge page</a>.
                </p>
            </div>
            <h2><span>All builds</span></h2>
            <div class="search-box">
                <label for="search-box" class="search-hint"><span class="fa fa-search" aria-hidden="true"></span></label>
                <input id="search-box" type="text" placeholder="Search builds" onchange="filter_builds(this.value)" oninput="filter_builds(this.value)" />
            </div>

            <div class="downloads" id="download-list">
                {{#all}}
                    <div class="download">
                        <h3>
                            <a href="{{html-url}}{{root_folder}}{{file}}">
                                <span class="fa fa-download" aria-hidden="true"></span>
                                <span class="aria-hint">Download</span>
                                <span data-tag="desc">{{desc}}</span>
                                <span class="version-major">{{main_version}}</span><span class="version-build">build{{version}}</span>
                            </a>
                        </h3>
                        <ul class="fa-ul">
                            {{#pr}}
                                <li>
                                   <span class="fa fa-li fa-file-code-o" aria-hidden="true"></span>
                                    <a href="{{pr}}" title="See the original PR on GitHub">Original PR</a>
                                </li>
                            {{/pr}}

                            <li>
                                <span class="fa fa-li fa-clock-o" aria-hidden="true"></span>
                                <a href="{{html-url}}{{root_folder}}" title="View the file listing for all previous versions">Previous versions</a>
                            </li>

                            <li>
                                <span class="fa fa-li fa-code-fork" aria-hidden="true"></span>
                                Branches used:
                                <ul class="commits">
                                    {{#refs}}
                                        <li>
                                            <span class="commit-branch" data-tag="branch-name">{{name}}</span>
                                            <a href="https://github.com/dan200/ComputerCraft/commit/{{sha}}">
                                                <span class="commit-sha">{{sha_short}}</span>
                                                <span class="commit-message" title="{{msg}}" data-tag="branch-sha">{{msg}}</span>
                                            </a>
                                        </li>
                                    {{/refs}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                {{/all}}
            </div>
        </div>
        <script type="text/javascript">
            function filter_builds(filter) {
                var downloads = document.getElementById("download-list").getElementsByClassName("download");
                for(var i = downloads.length - 1; i >= 0; i--) {
                    var download = downloads[i];
                    var tags = download.querySelectorAll("[data-tag]");
                    var found = false;
                    for(var j = tags.length - 1; j >= 0; j--) {
                        if(tags[j].innerText.toLowerCase().indexOf(filter.toLowerCase()) >= 0) {
                            found = true;
                            break;
                        }
                    }

                    if(found) {
                        download.hidden = true;
                        download.style.display = "initial";
                    } else {
                        download.hidden = false;
                        download.style.display = "none";
                    }
                }
            }
        </script>
        <footer>
            c^3i hosted by CrazedProgrammer and developed by SquidDev
        </footer>
    </body>
</html>
