@import "reset.scss";

$grey00: #151515;
$grey01: #202020;
$grey02: #505050;
$grey03: #707070;
$grey04: #B0B0B0;
$grey05: #D0D0D0;
$grey06: #E0E0E0;
$grey07: #ECF0F1;
$grey08: #FAFAFA;
$grey09: #FFFFFF;

$tone01: #4A235A;
$tone02: #5B2C6F;
$tone03: #6C3483;
$tone04: #7D3C98;
$tone05: #8E44AD;
$tone06: #A569BD;
$tone07: #BB8FCE;
$tone08: #D2B4DE;
$tone09: #E8DAEF;

$header-height: 50px;

$download-width: 600px;

@mixin link($normal, $hover) {
    a {
        &, &:visited, &:active { color: $normal; }
        &:hover { color: $hover; }
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// Header
header {
    width: 100%;
    height: $header-height;
    background-color: $tone05;
    color: $grey09;
    overflow: hidden;

    h1 { font-size: 1.2em; }

    .button-group {
        height: 100%;
        a {
            display: inline-block;
            height: 100%;
            line-height: $header-height;
            padding: 0px 10px;
            box-sizing: border-box;
            color: #FFF;
            vertical-align: middle;

            &:hover {
                color: $grey09;
                background-color: $tone01;
            }

            &, &:hover, &:focus { text-decoration: none; }
        }
    }
}

// Footer
footer {
    font-size: 0.7em;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background-color: $grey02;
    color: $grey09;
}

/* General */
#content {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    max-width: 1500px;
    margin: 0px auto;
}

a { text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }
@include link($tone03, $tone07);

.aria-hint { display: none; }
.jumbotron { min-height: 70vh; }
.pull-left { float: left; }
.pull-right { float: right; }

p {
    max-width: 800px;
    text-align: center;
    margin: 15px auto;
}

// Heading styles
h2 {
    display: block;
    font-size: 2em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 0px;

    > span {
        position: relative;
        display: inline-block;
        padding: 10px;
        border: 1px solid $grey03;

        &:before, &:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 10000px;
            height: 1px;
            background: $grey03;
        }

        &:before { right: 100%; }
        &:after { left: 100%; }
    }
}

// Downloads
.downloads {
    display: flex;
    flex-flow: row wrap;

    .download { flex-basis: $download-width; }
}

.primary-downloads {
    width: 100%;
    margin-bottom: 50px;

    .download {
        margin-left: auto;
        margin-right: auto;

        h3 a {
            padding: 15px;
        }
    }
}

.download {
    max-width: $download-width;
    margin: 0px 15px 15px 15px;

    h3 {
        width: 100%;
        border: none;
        margin: 0px 0px 10px 0px;
        box-sizing: border-box;

        @include link(#FFF, $tone07);

        .version-build { font-size: 0.5em; }

        a {
            display: inline-block;
            padding: 10px;
            background-color: #8E44AD;
            width: 100%;
            box-sizing: border-box;
        }

        a, a:hover, a:focus { text-decoration: none; }
    }

    li { padding: 4px 0px; }

    ul.commits {
        list-style: disc inside;
        padding-left: 15px;

        li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include link(#888, #999);

        .commit-sha { font-size: 0.7em; font-family: "Consolas", "Courier New", monospace; }
        .commit-branch { font-size: 0.8em; }
        .commit-message { font-size: 0.6em; }
    }
}

@media(max-width: 800px) {
    .downloads {
        flex-direction: column;
        .download {
            flex-basis: 100%;
            max-width: 100%;
            margin: 0px 0px 15px 0px;
        }
    }
}

// Search
.search-box {
    margin: 15px;
    position: relative;

    $height: 45px;

    input {
        width: 100%;
        height: $height;
        font-size: 1.3em;
        padding-left: 30px;
        box-sizing: border-box;
    }

    .search-hint {
        position: absolute;
        font-size: 1.3em;
        top: 0px;
        left: 7px;
        width: 16px;
        height: $height;
        line-height: $height;
        text-align: center;
        pointer-events: none;
    }
}
